<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Departamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    
    <form th:action="@{/departamentos/actualizar/{id}(id=${department.departmentId})}" method="post">
        <input type="hidden" name="departmentId" th:value="${department.departmentId}">
        
        <label for="departmentCodigo">Código Departamento:</label>
        <input type="text" id="departmentCodigo" name="departmentCodigo" th:value="${department.departmentCodigo}" required>

        <label for="departmentNombre">Nombre Departamento:</label>
        <input type="text" id="departmentNombre" name="departmentNombre" th:value="${department.departmentNombre}" required>


        <button type="submit">Actualizar</button>
        <a th:href="@{/departamentos}">Cancelar</a>
    </form>
</body>
</html>
